@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --robotmono: "Roboto Mono", monospace;
  --ubanto: "Ubuntu Mono", monospace;
}

header {
  width: 100%;
  position: fixed;
  height: 7em;
  top: 0;
}

nav {
  background-image: linear-gradient(lightgreen, white);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}
.logo svg {
  width: 12em;
  margin-bottom: 2em;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 1em;
}
.search-bar {
  position: relative;
}
#nav-searchbar {
  padding: 0.8em 12em 0.8em 2.5em;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #dfeced;
  font-size: 1em;
  font-weight: 600;
}

.nav-right .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login a {
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 2em;
  color: black;
  position: relative;
}
.login a:hover {
  font-size: 1.24em;
  font-weight: 1000;
}
.login a:first-child::after {
  content: "";
  transform: scale(0);
}
.login a:first-child:hover::after {
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1);
  /* transform-origin: left; */
  transition: transform 250ms ease-in-out;
}
.link-btn {
  text-decoration: none;
  border: 2px solid lightgreen;
  padding: 0.7em;
  border-radius: 10px;
  color: darkgreen;
}
.nav-right-start:hover {
  background-color: lime;
  color: black;
  border: 2px solid lime;
  color: white;
}
.btn {
  width: 2.5em;
  padding: 5px;
  background: transparent;
  border-radius: 50%;
  border: 0;
  position: absolute;
  left: 0.8%;
  top: 20%;
  cursor: pointer;
  font-size: 1.2em;
}
.btn i {
  color: #237323;
}
.chat {
  position: fixed;
  right: 0;
  bottom: 0;
}

.chat svg {
  width: 5em;
  height: 5em;
  color: #480202;
  background: green;
  border-radius: 50%;
  padding: 0.4em;
  margin: 1em 1em;
  cursor: pointer;
  box-shadow: 5px 5px 18px black;
}

.hero {
  width: 95vw;
  height: 78vh;
}
.hero-left {
  padding: 3em 3em;
  width: 50%;
  height: 100%;
  flex-direction: column;
  font-size: 1.4em;
}
.hero-left .head {
  margin: 5em 0 0 0;
}

.hero-left h1 {
  padding: 3px;
  font-weight: 700;
  font-size: 2.25rem;
}

.hero-left-start {
  /* padding: 0; */
  padding: 0.9em 3.5em;
  color: white;
  background-image: linear-gradient(lime, lightblue);
  font-weight: 600;
}
.hero-link {
  margin: 0.7em 0;
  font-size: 1.1em;
  font-weight: 500;
}
.text {
  padding: 1.5em 0.5em;
  padding-right: 15em;
}
.text span {
  font-size: 1.3em;
  font-weight: 500;
}
.hero-right img {
  width: 50em;
  height: 33.5em;
  border-radius: 20px;
}

.works-title .works-head {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

.works-title {
  place-items: center;
}
.works-title h2 {
  text-transform: capitalize;
}

.works-title p,
h2 {
  padding: 0.6em 0;
}
.explore {
  grid-template-columns: auto auto auto;
}

.explore .explore-inter {
  padding: 2em 0;
  margin: 1em 0;
  width: 33.333333333333333333333333333%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.explore .explore-inter h3 {
  font-weight: 600;
  font-size: 1.4em;
}
.explore .explore-inter p {
  font-size: 1.3em;
}

.explore-logo {
  width: 5em;
  font-weight: 0;
  align-self: center;
}
.explore-logo img {
  margin-bottom: 1em;
  width: 100%;
}
#chat-img {
  background-color: white;
  color: white;
}
.content {
  padding: 1.2em;
  padding-top: 2em;
}
.inside-plants {
  display: flex;
  padding: 1em 3em;
  justify-content: space-between;
}
.inside-plants figure img {
  width: 20em;
  border-radius: 20px;
  padding-left: 0.3em;
  margin-right: 5px;
}
.inside-plants figure figcaption {
  font-size: 1.1em;
  font-weight: bolder;
  padding-top: 0.3em;
  text-align: center;
}
#longimg {
  height: 13em;
  width: 17em;
}
.plants-head {
  margin-left: 2em;
}
.plants-head h1 {
  font-size: 3em;
  margin: 0.5em 0;
}
.plants-head p {
  font-size: 1.5em;
  font-weight: 600;
  margin: 10px 5px;
}

footer {
  background-color: bisque;
  width: 100%;
}
.EAS {
  grid-template-columns: 16em 16em 16em;
  grid-gap: 9em;
  margin-left: 4em;
  padding: 20px;
}
.EAS div h2 {
  margin-bottom: 30px;
  font-weight: 700;
}
.EAS ul {
  padding-left: 0.1em;
  margin-left: 0.2px;
}
.EAS div ul li {
  list-style: none;
  text-transform: capitalize;
  margin: 10px 0;
}
.EAS div ul li a:hover {
  text-decoration: underline 2px black;
}
.EAS ul li a {
  text-decoration: none;
  color: rgb(34, 33, 33);
  font-size: 1.5em;
  width: 100%;
}
.last-thing {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  margin-left: 2em;
}
.last-thing p {
  font-size: 1.5em;
  font-weight: 600;
}
.icons div img {
  width: 2.5em;
}
.icons {
  width: 100%;
  justify-content: flex-end;
  margin-right: 10em;
  margin-bottom: 1em;
}
.icons div {
  margin: 1.5em;
}
